@tailwind base;
@tailwind components;
@tailwind utilities;

.table-header {
    display: grid;
    grid-template-columns: repeat(7, 14%);
    margin-bottom: 15px;
}

.filtered-advocate {
    display: grid;
    grid-template-columns: repeat(7, 14%);
}

.specialty-icon {
    display: flex;
    justify-content: end;
    margin-right: 30px;
}

.advocate-container {
    border: 1px solid #8a79ab;
    border-radius: 5px;
    padding: 20px;
}

.y-o-e {
    display: flex;
    justify-content: center;
}